@model WhatsLuzMVCAPI.Models.UserAccount

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewBag.Title</title>

<style>
    h1.page-header {
        margin-top: -5px;
    }

    .sidebar {
        padding-left: 0;
    }

    .main-container {
        background: #FFF;
        padding-top: 15px;
        margin-top: -20px;
    }

    .footer {
        width: 100%;
    }

    .label, .glyphicon {
        margin-right: 5px;
    }
</style>
    <div class="col-md-10 content">
        <div class="container pull-left">
            <!-- contacts card -->
            <div class="" id="card_contacts">
                <div id="contacts" class="" aria-expanded="true" style="">
                    <div class="">
                        <h2>Edit User</h2>
                        @{
                            WhatsLuzMVCAPI.Models.UserAccount userInfo = ViewBag.userInfo;
                        }
                        <form class="form-horizontal" method="post" action="~/Controllers/AdminController/updateEvent" style="float: left;">
                            <input type="hidden" value="@userInfo.UserID" name="userID" />
                            <fieldset>
                                <!-- Form Name -->
                                <legend></legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="nome">Profile:</label>
                                    <div class="col-md-8">
                                        <img src="@userInfo.PhotoURL" width="95" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="nome">Name:</label>
                                    <div class="col-md-8">
                                        <input id="nome" name="name" value="@userInfo.DisplayName" class="form-control input-md" type="text">

                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="descricao">Email:</label>
                                    <div class="col-md-8">
                                        <input id="descricao" name="email" value="@userInfo.Email" class="form-control input-md" type="text">

                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="preco">Address:</label>
                                    <div class="col-md-8">
                                        <input id="preco" name="address" value="@userInfo.Address" class="form-control input-md" type="text">

                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="precoAntigo">Is Admin?</label>
                                    <div class="col-md-2">

                                        <div class="radio">
                                            <label><input type="radio" name="admin" value="1" checked>Yes</label>
                                            <label><input type="radio" name="admin" value="0" checked>No</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Multiple Checkboxes (inline) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="promocao"></label>
                                    <div class="col-md-4">
                                        <label class="checkbox-inline" for="promocao-0">
                                            <input type="submit" class="btn btn-info" name="submit" value="Update User">
                                        </label>
                                    </div>
                                </div>
                                <!-- Multiple Checkboxes (inline) -->

                            </fieldset>
                        </form>
                    </div>
                    <!--/contacts list-->
                </div>
            </div>
        </div>
    </div>
