<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Base libaries -->
    <link href="~/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    @*<link href="/scripts/bootstrap-rtl-master/dist/css/bootstrap-rtl.css" rel="stylesheet">*@
    <script src="/scripts/angular-1.6.4/angular.js"></script>
    @*<script type="text/javascript" src="/scripts/js/jquery-1.11.3.js"></script>*@
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

    <!-- Calander Libaries -->
    <link rel="stylesheet" href="/scripts/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css">
    <script src="~/scripts/js/moment.min.js"></script>
    <script src="/scripts/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.js"></script>
    <script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="/scripts/app.js"></script>

    <!-- <script src="js/he.js"></script> -->
    <!-- Datetime picker -->
    <link href="~/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="/scripts/js/moment-with-locales.min.js"></script>
    <script src="/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Sport Event Form -->
    <script src="~/Scripts/validator.js"></script>


    <!-- General -->
    <link rel="stylesheet" href="/scripts/style.css">
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/Functions.js"></script>

    <!-- Firebase -->

    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="~/Scripts/firebase.js"></script>

    <!-- SearchFilter -->
    
    <link href="~/Content/SearchMenu.css" rel="stylesheet" id="bootstrap-css">


</head>
<body ng-controller="ctrl" style="height: 100%">
   
   
    
    <div class="panel panel-primary">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            
                <li>
                    <a href="#" class="fireFacebooklogin" style="padding: 6px 16px;">
                        <p style="margin: 0 0 0 0;">  Login </p>
                    </a>
                </li>
                <li>@Html.ActionLink("Admin", "Admin", "Home") </li>
            </ul>
                
         
        </div>
        

        @RenderBody()




    </div>



            @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>

            *@




            @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)
            *@
</body>
</html>
