<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Base libaries -->
    <link href="~/scripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   
    @*<link href="/scripts/bootstrap-rtl-master/dist/css/bootstrap-rtl.css" rel="stylesheet">*@
    <script src="/scripts/angular-1.6.4/angular.js"></script>
    @*<script type="text/javascript" src="/scripts/js/jquery-1.11.3.js"></script>*@
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

    <!-- Calander Libaries -->
    <link rel="stylesheet" href="/scripts/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css">
    <script src="~/scripts/js/moment.min.js"></script>
    <script src="/scripts/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.js"></script>
    <script src="/scripts/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
    <script src="/scripts/app.js"></script>

    <!-- <script src="js/he.js"></script> -->
   
    <!-- Datetime picker -->
    <link href="~/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="/scripts/js/moment-with-locales.min.js"></script> 
    <script src="/scripts/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Sport Event Form -->
    <script src="~/Scripts/validator.js"></script>


    <!-- General -->
    <link rel="stylesheet" href="/scripts/style.css">
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/Functions.js"></script>
    
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

   

</head>
<body ng-controller="ctrl" style="height: 100%" >
    
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div>
                <div class="col-md-4">
                    <a href="#" id="createEventButton" class="btn btn-primary btn-lg " style="padding: 6px 16px;" role="button" data-toggle="modal" data-target="#eventAddition-modal">
                        <p style="margin: 0 0 0 0;">  <span class="glyphicon glyphicon-plus" class="text-center"></span> Create Sport Event </p>
                    </a>
                </div>
                <div class="col-md-4">
                    <h2 style="margin-top: 0px; margin-bottom: 0px;" class="text-center">{{ calendarTitle }} </h2>
                </div>

                <div class="btn-group col-md-4 " style="float: left;">
                    <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'day'">Day</label>
                    <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'week'">Week</label>
                    <label class="btn btn-primary" style="float: left;" ng-model="calConfig.calendarView" btn-radio="'month'">Month</label>
                </div>

            </div>
            <!-- <p class="text-center"><a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#eventAddition-modal">Open Login Modal</a></p> -->

        </div>
        <div class="container-fluid">
            @RenderBody()
            
        </div>

        </div>
    <div class="panel-footer">
        <button class="btn btn-primary"
                mwl-date-modifier
                date="calConfig.calendarDay"
                decrement="calConfig.calendarView">
            Back
        </button>
        <button class="btn btn-default"
                mwl-date-modifier
                date="calConfig.calendarDay"
                set-to-today>
            Today
        </button>

        <button class="btn btn-primary"
                mwl-date-modifier
                date="calConfig.calendarDay"
                increment="calConfig.calendarView">
            Forward
        </button>


    </div>
    
    
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    *@
    


   
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    *@
</body>
</html>
